@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 0 150px;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header .logo {
  font-size: 24px;
  color: #f9f4f8;
}

.links,
.secondary-text {
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
  margin: 0px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.main .main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9f4f8;
}

.main-text {
  margin: 0px;
}

.left {
  text-align: left;
  width: 400px;
}

.right {
  display: flex;
  height: 200px;
  width: 500px;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

button {
  cursor: pointer;
  padding: 8px 25px;
  border-radius: 8px;
}

button.signup {
  background: #3882f6;
  border: 1px solid #3882f6;
  color: white;
  font-weight: bold;
}

/* 1st section */

.section1-title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 32px auto;
}

.content {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.item {
  max-width: 100px;
  font-size: 12px;
  text-align: center;
}

.box {
  display: flex;
  height: 100px;
  width: 100px;
  border: 2px solid #3882f6;
  border-radius: 8px;
  flex-wrap: wrap;
}

/* 2nd section */

.section2 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin-top: 50px;
  padding: 20px 0;
}

.quote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  max-width: 800px;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
  color: #1f2937;
  margin-left: 500px;
  font-size: 18px;
}

/* 3rd section */

.section3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: #f9f4f8;
}

.modal {
  display: flex;
  justify-content: space-between;
  background-color: #3882f6;
  padding: 25px 100px;
  border-radius: 8px;
  gap: 50px;
}

.title {
  font-weight: bold;
}

.text {
  margin: 0;
  font-size: 10px;
}

.signup.second {
  border: 1px solid white;
  font-weight: bold;
}

/* footer */

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
}
